*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #292929;
}

/*---Principal*/
.Principal{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Principal h1{
  font-size: 2.7rem;
  font-weight: 400;
  color: #41E04B;
  margin-bottom: 10px;
}

/*---Card---*/
.Card{
  width: 30%;
  margin: 10px;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: #121212;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.3);
  border: 1px solid #888888;
}

.Card button{
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #41E04B;
  font-size: 1.2rem;
  cursor: pointer;
  transition-duration: 0.5s;
}

.Card button:hover{
  background-color: #39c443;
}

/*---Barra---*/
.Barra{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1a1a1a;
  border: 1px solid #484848;
  border-radius: 5px;
  padding: 0 10px;
}

/*---Responsividade---*/
@media screen and (max-width: 768px) {
  .Card{
    width: 90%;
  }
}